@media screen and (max-width: 992px){
    .horizentaltopdeals .px-5 .bg-light .d-flex .d-flex img {
        height: 5rem;
        padding-right: 1rem;

      }
      .horizentaltopdeals .px-5 .bg-light .d-flex .d-flex:hover {
        background-color: rgb(244, 244, 244);
      }
}